@import "config.css";
.principalContainer {
  /*background-color: lightcoral;*/
  position: absolute;
  width: 100%;
  height: 100%;
}

.smallContainer {
  width: 100%;
  height: 100%;
  /*background-color: lightcyan;*/
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70px auto;

}
.navMenu {
  background-color: var(--color-them1);
  display: grid;
  grid-template-columns: 250px auto 250px;
  grid-template-rows: auto;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo::before {
  content: "";
  height: 20px;
  width: 20px;
  border: 1px solid var(--boder-color);
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 0px 8px 20px rgb(17, 17, 17);
}
.logo::after {
  content: "";
  height: 20px;
  width: 20px;
  border: 1px solid var(--boder-color);
  border-radius: 5px;
  margin-left: 10px;
  box-shadow: 0px 8px 20px rgb(17, 17, 17);
}
.logo p{
  color: #f0f0f0;
  text-shadow: 0px 0px 10px black;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 1rem;
}


.search {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 20px;
}
.search form {
  width: 100%;
}
.form-search {
  width: 60%;
  height: 40px;
  padding-left: 10px;
  border: 1px solid var(--boder-color);
  background-color: inherit;
  border-radius: var(--radius);
  color: #ffffff;
  letter-spacing: 3px;
}
.form-search:active{
  border: 1px solid var(--boder-color);
  border-radius: 10px;
}

.btnSub {
  margin-left: 10px;
  width: 100px;
  height: 40px;
  border: 1px solid var(--boder-color);
  background-color: inherit;
  border-radius: 10px;
  color: #fff;
  transition: 0.6s;
}
.btnSub:hover {
  background-color: var(--boder-color);
  cursor: pointer;
  transition: 0.6s;
}

.user {
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.username {
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.logout {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bebebe;
  transition: 0.6s;
}
.logout:hover {
  background-color: #313131;
  transition: 0.6s;
  cursor: pointer;
}

.content {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto;

}
