.leftPart {
    background-color: #424242;
    color: #ffffff;
    display: grid;
    grid-template-columns: 98%;
    grid-template-rows: 280px auto;
    justify-content: center;
    padding-top: 2px;
  }
  
  .list {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
  }
  .list p {
    margin-left: 5px;
    margin-top: 20px;
    letter-spacing: 4px;
    color: #b4b4b4;
  }
  
  .list p::before {
    content: "\232C";
  }
  
  .list ul {
    /*background-color: yellow;*/
    padding-left: 10px;
    margin: 0 0;
  }
  .list ul li {
    list-style: none;
    margin: 25px 0px;
    letter-spacing: 1.5px;
    color: #f0eeee;
    font-size: 12px;
    /*background-color: green;*/
    cursor: pointer;
  }
  .list ul li a{
    color: #f0eeee;
    text-decoration: none;
  }
  
  .list ul li::before {
    content: "\23E3";
    margin-right: 5px;
    margin-bottom: ;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #aca4a4;
  }
  .footer p{
    font-size: 12px;
    letter-spacing: 1.5px;
    margin: 6px 0;
  }
  .copyright::before {
    content: "\00A9";
  }
  